includes:
  - vendor/phpstan/phpstan/conf/config.level6.neon
parameters:
  paths:
    - src
    - tests/dcg
  excludes_analyse:
    - src/Helper/DrupalContext.php
    - src/Box/PhpCompactor.php
    - tests/dcg/CompactorTest.php
    - src/Logger/ConsoleLogger.php
    # @todo Find a better pattern to exclude paths.
    - tests/dcg/Generator/Other/_
    - tests/dcg/Generator/Drupal_7/_
    - tests/dcg/Generator/Drupal_8/_
    - tests/dcg/Generator/Drupal_8/Service/_
    - tests/dcg/Generator/Drupal_8/Test/_
    - tests/dcg/Generator/Drupal_8/Plugin/_
    - tests/dcg/Generator/Drupal_8/Plugin/Views/_
    - tests/dcg/Generator/Drupal_8/Plugin/Migrate/_
    - tests/dcg/Generator/Drupal_8/Plugin/Field/_
    - tests/dcg/Generator/Drupal_8/Module/_
    - tests/dcg/Generator/Drupal_8/Form/_
  ignoreErrors:
    -
      message: '#Call to static method getContainer\(\) on an unknown class Drupal\.#'
      path: src/Application.php
    -
      message: '#Return typehint .* has invalid type Drupal\\Core\\Extension\\Extension#'
      path: src/Command/DrupalGenerator.php
    -
      message: '#Call to an undefined method .*getLabel#'
      path: src/Command/Navigation.php
    -
      message: '#Call to an undefined method .*addPath#'
      path: src/Helper/Renderer.php
    -
      message: '#Method .*createInput\(\) should return .*StreamableInputInterface but returns .*MockObject#'
      path: tests/dcg/Helper/QuestionHelperTest.php
    -
      message: '#Property .*\$validator .* does not accept class@anonymous#'
      path: tests/dcg/ValidatorTraitTest.php
    -
      message: '#Call to function is_numeric\(\) with .* will always evaluate to false.#'
      path:  src/Application.php
    -
      message: '#Negated boolean expression is always false.#'
      path:  src/Helper/LoggerFactory.php
    -
      message: '#Strict comparison using === between string and null will always evaluate to false.#'
      path:  src/Helper/QuestionHelper.php
    -
      message: '#Parameter \#2 \$content of method .*dumpFile\(\) expects string, int given.#'
      path: tests/dcg/Helper/DumperTest.php
    -
      message: '#Parameter \#1 \$arr1 of function array_diff expects array, array#'
      path: src/Command/Drupal_7/Hook.php
    -
      message: '#Parameter \#1 \$arr1 of function array_diff expects array, array#'
      path: src/Command/Drupal_8/Hook.php
    -
      message: '#Parameter \#2 \$choices of method .*choice\(\) expects array#'
      path: src/Command/Drupal_8/Field.php
    -
      message: '#Parameter \#1 \$content of method .*content\(\) expects string#'
      path: src/Command/Drupal_8/Plugin/CKEditor.php
    -
      message: '#Parameter \#1 \$input of static method .*camelize\(\) expects string#'
      path: src/Command/
    -
      message: '#Property .*\$directory \(string\) does not accept#'
      path: src/Command/Generator.php
    -
      message: '#Parameter \#1 \$json of function json_decode expects string#'
      path: src/Command/ModuleGenerator.php
    -
      message: '#Parameter \#2 \$search of function array_key_exists expects array#'
      path: src/Helper/QuestionHelper.php
    -
      message: '#Parameter \#1 \$decimal_number of function decoct expects int#'
      path: tests/dcg/Helper/DumperTest.php
    -
      message: '#Parameter \#1 \$fp of function fwrite expects resource#'
      path: tests/dcg/Helper/DumperTest.php
    -
      message: '#Parameter \#1 \$fp of function rewind expects resource#'
      path: tests/dcg/Helper/DumperTest.php
    -
      message: '#Parameter \#1 \$stream of method .*setStream\(\) expects resource#'
      path: tests/dcg/Helper/DumperTest.php
    -
      message: '#Parameter \#1 \$fp of function fwrite expects resource#'
      path:  tests/dcg/Helper/QuestionHelperTest.php
    -
      message: '#Parameter \#1 \$fp of function rewind expects resource#'
      path:  tests/dcg/Helper/QuestionHelperTest.php
    -
      message: '#Parameter \#1 \$stream of class .*StreamOutput constructor expects resource#'
      path:  tests/dcg/Helper/QuestionHelperTest.php
    -
      message: '#Method .*getDisplay\(\) should return string#'
      path:  tests/dcg/Helper/QuestionHelperTest.php
    -
      message: '#Parameter \#2 \$subject of function preg_match_all expects string#'
      path: tests/dcg/NavigationCommandTest.php
    -
      message: '#Parameter \#3 \$subject of function preg_replace expects array\|string#'
      path: tests/dcg/NavigationCommandTest.php


