<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  colors="true"
  processIsolation="true">
  <testsuites>
    <testsuite name="unit">
      <directory>./tests/unit</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>./tests/functional</directory>
      <!-- Exclude generated tests. -->
      <exclude>./tests/functional/Generator/Test/_web_driver/tests/src/FunctionalJavascript/ExampleTest.php</exclude>
      <exclude>./tests/functional/Generator/Test/_unit/tests/src/Unit/ExampleTest.php</exclude>
      <exclude>./tests/functional/Generator/Test/_kernel/tests/src/Kernel/ExampleTest.php</exclude>
      <exclude>./tests/functional/Generator/Test/_browser/tests/src/Functional/ExampleTest.php</exclude>
    </testsuite>
  </testsuites>
</phpunit>
