<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/dcg/autoload.php">
  <testsuites>
    <testsuite name="Drupal Code Generator Test Suite">
      <directory suffix="Test.php">./tests/dcg</directory>
      <exclude>./tests/dcg/Generator/Drupal_8/_project/_full/tests/src/HomePageTest.php</exclude>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src</directory>
      <exclude>
        <directory>./tests</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
