/**
 * Implements hook_quickedit_render_field().
 */
function {{ machine_name }}_quickedit_render_field(\Drupal\Core\Entity\EntityInterface $entity, $field_name, $view_mode_id, $langcode) {
  return [
    '#prefix' => '<div class="example-markup">',
    'field' => $entity->getTranslation($langcode)->get($field_name)->view($view_mode_id),
    '#suffix' => '</div>',
  ];
}
