{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - foo: Foo variable description. 
 *
 * @see template_preprocess_example_foo()
 *
 * @ingroup themeable
 */
#}
<div class="wrapper-class">
  {{ foo }} 
</div>
